---
---

@charset "utf-8";

$primary: #048895;
$font-family-sans-serif: "Avenir Next", Helvetica, Arial, sans-serif;

@import "bootstrap-4.3.1/bootstrap";
@import "font-awesome-5.10.1/fontawesome";
@import "font-awesome-5.10.1/solid.scss";
@import "font-awesome-5.10.1/brands.scss";

.navbar-brand {
    font-size: $h1-font-size;
}

.navbar-custom .navbar-toggler {
    color: $primary;
    border-color: $primary;
}

.post-row {
    margin-top: $spacer;
}

.long-text {
    margin-top: $spacer;
}

@include media-breakpoint-down(md) {
    h2 {
        margin-top: $spacer;
        text-align: center;
    }
}
