---
---

@charset "utf-8";

$primary: #048895;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 1.1rem;

$h1-font-size: $font-size-base * 2.1;
$h2-font-size: $font-size-base * 1.7;
$h3-font-size: $font-size-base * 1.5;
$h4-font-size: $font-size-base * 1.3;
$h5-font-size: $font-size-base * 1.1;
$small-text-size: $font-size-base * 0.7;

@import "bootstrap-4.3.1/bootstrap";
@import "font-awesome-5.10.1/fontawesome";
@import "font-awesome-5.10.1/solid.scss";
@import "font-awesome-5.10.1/brands.scss";

body {
    overflow-wrap: break-word;
}

.navbar-brand {
    font-size: $h2-font-size;
    font-weight: bold;
}

.navbar-custom .navbar-toggler {
    color: $primary;
    border-color: $primary;
}

.post-row {
    margin-top: $spacer;
}

.long-text {
    margin-top: $spacer;
}

.copyright-text {
    color: $gray-600;
    font-size: $small-text-size;
}

.md-image {
    margin-top: $spacer;
    margin-bottom: $spacer;
}

.img-caption {
    a {
        color: inherit;
        text-decoration: underline;
    }
    font-size: $small-text-size;
    color: $gray-700;
    margin-bottom: 20pt;
}

@include media-breakpoint-down(md) {
    .heading {
        text-align: center;
    }
    .navbar-custom .navbar-collapse {
        border-bottom: 1px solid $gray-300;
    }
}
